# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel

# Misc
*.log
Untitled.zip
